    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quicksand:wght@300..700&display=swap');

    * {
        margin: 0;
        padding: 0;
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;

    }

    html body {
        overflow-x: hidden;
    }

    .secret-container {
        display: grid;
        justify-content: center;
    }

    .secret-button {
        display: grid;
        justify-content: center;
        margin-top: 14px;
    }

    .secret-button {
        width: 500px;
        font-size: 55px;
        padding: 12px;
        transition: 1s ease;
        border-radius: 0%;
        background-image: linear-gradient(to left, green, rgb(59, 175, 48), rgb(85, 156, 100), white);
        animation: gradient 8s ease infinite;
        background-size: 450% 450%;
    }

    .secret-button:hover {
        border-radius: 1rem;
        transition: 1s ease;
        cursor: pointer;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    .img-container-1 {
        display: none;
        gap: 1.5rem;
        -webkit-animation: animate-div-1 3s;
        justify-content: center;
        margin-top: 14px;
    }

    .img-container-2 {
        display: none;
        gap: 1.5rem;
        margin-top: 20px;
        -webkit-animation: animate-div-2 3s;
        justify-content: center;
        margin-top: 14px;
    }

    .img {
        width: 300px;
        height: 300px;
        border: solid green;
        border-radius: 2px 12px;
        padding: 6px;
    }

    @-webkit-keyframes animate-div-1 {
        from {
            opacity: 0;
            margin-top: -100px;
        }

        to {
            opacity: 1;
            margin-top: 20px;
        }
    }

    @-webkit-keyframes animate-div-2 {
        from {
            opacity: 0;
            margin-top: -100px;
        }

        to {
            opacity: 1;
            margin-top: 20px;
        }
    }

    .Question-container {
        display: none;
        justify-content: center;
        margin: 10px;
        font-size: 50px;
    }